.pf-menu {
  max-width: 1600px;
  display: flex;
  justify-content: center;
  background-color: $almost-white;

  &-button-menu {
    display: flex;
    list-style: none;
    text-align: center;
    cursor: pointer;
    gap: 8px;
    padding: 94px 0 50px 0;
  }

  &-button-blue {
    background-color: $blue;
    color: $white;
    width: 121px;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
  }

  &-button {
    background-color: $light-gray;
    color: $almost-black;
    font-weight: 500;
    height: 38px;
    font-size: 16px;
    line-height: 1.625em;
    text-align: center;
    letter-spacing: 0.03em;
    border: 0;
    border-radius: 4px;
  }

  &-button-blue:hover,
  &-button:hover {
    box-shadow: $pfButtonShadow;
  }

  &-button-blue:focus,
  &-button:focus {
    box-shadow: $pfButtonShadow;
  }

  &-button-1 {
    width: 93px;
  }

  &-button-2 {
    width: 114px;
  }

  &-button-3 {
    width: 91px;
  }

  &-button-4 {
    width: 121px;
  }

  .pf-menu-button:hover {
    text-decoration: underline solid $blue;
  }

  .pf-menu-button-blue:hover {
    text-decoration: underline solid $buttonBlue;
  }
}
