// Nagłówek strony głównej
.main-head {
  max-height: 600px;
  display: flex;
  justify-content: center;
  color: var(--white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/backgrund_img.jpg), url(../images/backgrund_img_overlay.jpg);
  background-size: cover;
}

.main-head h1:hover {
  text-decoration: 2px underline solid var(--blue);
}

.button {
  width: 200px;
  height: 50px;
  background-color: var(--blue);
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875em;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:hover {
    text-decoration: underline solid var(--button-blue);
  }
}
