$white: #ffffff;
$almostWhite: #e5e5e5;
$blue: #2196f3;
$almostBlack: #212121;
$black: #000000;
$darkGray: #2f303a;
$gray: #757575;
$lightGray: #f5f4fa;
$buttonBlue: #2177f3;
$borderHeader: #ececec;
$borderClients: #afb1b8;
$borderPfLi: #eeeeee;
$footerLinks: rgba(255, 255, 255, 0.6);
$smFooterBackground: rgba(255, 255, 255, 0.1);

:root {
  --white: #ffffff;
  --almost-white: #e5e5e5;
  --blue: #2196f3;
  --almost-black: #212121;
  --black: #000000;
  --dark-gray: #2f303a;
  --gray: #757575;
  --light-gray: #f5f4fa;
  --button-blue: #2177f3;
  --border-header: #ececec;
  --border-clients: #afb1b8;
  --border-pf-li: #eeeeee;
  --footer-links: rgba(255, 255, 255, 0.6);
  --sm-footer-background: rgba(255, 255, 255, 0.1);
}
